extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Michael Kauftheil

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | This is a placeholder for my elevator pitch.
            | This is a placeholder for my elevator pitch.
            | This is a placeholder for my elevator pitch.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Express 
          li Git
          li HTTP
          li AJAX
          li C/C#/C++
          li Python
          li Java
        h6 Contact Info

        ul
          li 555-555-1234 (placeholder)
          li email@email.com (placeholder)

        a.button.expanded(href='') LinkedIn
        a.button.expanded(href='https://github.com/kaufthem') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  